.breadcrumbs {
    margin-top: 32px;
    margin-bottom: 48px;
}

.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 48px;
    margin-bottom: 36px;

    .about_title {
        font-size: 80px;
        font-weight: 800;
        line-height: 94px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        white-space: nowrap;
    }

    .about_description_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        width: 70%;
        gap: 5px;

        .about_description {
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            width: 100%;
        }
    }
}

.photo_section_wrapper {
    display: unset;
    position: relative;

    width: 100%;
    height: 682px;

    .photo_image_wrapper {
        width: 100%;
        height: 682px;

        overflow: hidden;
        position: relative;
        object-position: center;

        border-radius: 56px 56px 0 0;

        .photo_image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .gradient_global {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }

        .gradient_left {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 7;
            width: 70%;
            min-height: 100%;

            background: linear-gradient(270deg, rgba(4, 9, 39, 0) 29.14%, #040927 100%);
        }

        .gradient_right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 7;
            width: 30%;
            min-height: 100%;

            background: linear-gradient(90deg, rgba(4, 9, 39, 0) 29.14%, #040927 100%);
        }
    }

    .text_content {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 215px;

        background: rgba(5, 13, 56, 0.4);
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);

        color: var(--white);

        .about_box_bg_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 1280px;
            height: 100%;
            margin: 0 auto;
            gap: 15px;

            .about_box_bg_photo {
                width: calc(100% / 3);
                text-align: center;

                .about_title_bg_photo {
                    font-size: 80px;
                    font-weight: 800;

                    padding: 25px;
                }

                .about_text_bg_photo {
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
    }
}

.advantages_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    gap: 50px;

    .advantages_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 30%;
        gap: 24px;
        padding: 120px 0;

        .advantages_img_box {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 76px;
            height: 76px;
            padding: 18px;
            border-radius: 12px;

            background-color: rgba(29, 37, 87, 0.1);
            object-position: center;

            .advantages_img {
                width: 40px;
                height: 40px;
            }
        }

        .advantages_title {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            color: var(--dark-text2);
        }

        .advantages_text {
            color: var(--dark-text2);
        }
    }
}



.left_upper {
    grid-area: left_upper;
}

.right_upper {
    grid-area: right_upper;
    background-color: var(--gray);
}

.left_bottom {
    grid-area: left_bottom;
    background-color: var(--gray);
}

.right_bottom {
    grid-area: right_bottom;
}

.grid_wrapper {
    display: grid;
    grid-template-areas:
        "left_upper right_upper"
        "left_bottom right_bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
}

.grid_wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;
}

.bg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_goal_and_history {
    font-size: 80px;
    font-weight: 800;
    line-height: 112px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: var(--white);
}

.left__goal_and_history {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    z-index: 3;
}

.right__goal_and_history {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 3;
}

.text__goal_and_history_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 55%;
    height: 100%;

    .text_600_24_dark-text {
        font-size: 24px;
        font-weight: 600;
        color: var(--dark-text2);
    }
}
