.breadcrumbs {
    margin-top: 32px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1325px) {
    .breadcrumbs {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 765px) {
    .breadcrumbs {
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 48px;
    margin-bottom: 36px;

    .about_title {
        font-size: 80px;
        font-weight: 800;
        line-height: 94px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        white-space: nowrap;
    }

    .about_description_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        width: 70%;
        gap: 5px;

        .about_description {
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            width: 100%;
        }
    }
}

@media screen and (max-width: 1325px) {
    .about__wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        margin-bottom: 28px;

        .about_title {
            font-size: 45px;
            line-height: 53px;
        }

        .about_description_wrapper {
            width: 100%;

            .about_description {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
@media screen and (max-width: 765px) {
    .about__wrapper {
        .about_title {
            font-size: 40px;
            line-height: 47px;
        }
    }
}

.photo_section_wrapper {
    display: unset;
    position: relative;

    width: 100%;
    height: 682px;

    .photo_image_wrapper {
        width: 100%;
        height: 682px;

        overflow: hidden;
        position: relative;
        object-position: center;

        border-radius: 56px 56px 0 0;

        .photo_image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .gradient_global {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }

        .gradient_left {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 7;
            width: 70%;
            min-height: 100%;

            background: linear-gradient(270deg, rgba(4, 9, 39, 0) 29.14%, #040927 100%);
        }

        .gradient_right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 7;
            width: 30%;
            min-height: 100%;

            background: linear-gradient(90deg, rgba(4, 9, 39, 0) 29.14%, #040927 100%);
        }
    }

    .text_content {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 215px;

        background: rgba(5, 13, 56, 0.4);
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);

        color: var(--white);

        .about_box_bg_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 1280px;
            height: 100%;
            margin: 0 auto;
            gap: 25px;

            .about_box_bg_photo {
                width: calc(100% / 3);
                text-align: center;

                .about_title_bg_photo {
                    font-size: 80px;
                    font-weight: 800;

                    padding: 25px;
                }

                .about_text_bg_photo {
                    font-size: 18px;
                    font-weight: 300;
                }
            }

            .hr_gray {
                width: 1px;
                height: 46px;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

@media screen and (max-width: 1325px) {
    .photo_section_wrapper {
        height: 363px;

        .text_content {
            height: 123px;

            .about_box_bg_wrapper {
                width: 100%;
                margin: 0 auto;

                .about_box_bg_photo {

                    .about_title_bg_photo {
                        font-size: 45px;
                        line-height: 63px;
                        padding: 0;
                    }

                    .about_text_bg_photo {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 765px) {
    .photo_section_wrapper {
        height: 682px;

        .text_content {
            width: 100%;
            height: fit-content;
            margin: 0 auto;

            .about_box_bg_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                padding: 0 15px;
                margin: 0 auto;
                gap: 0;

                .about_box_bg_photo {
                    width: 100%;
                    padding-bottom: 12px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                    .about_title_bg_photo {
                        font-size: 40px;
                        line-height: 56px;
                        padding: 0;
                    }
                }

                .hr_gray {
                    display: none;
                }
            }
        }
    }
}

.advantages_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    gap: 50px;
    padding: 120px 0;

    .advantages_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 30%;
        gap: 24px;


        .advantages_img_box {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 76px;
            height: 76px;
            padding: 18px;
            border-radius: 12px;

            background-color: rgba(29, 37, 87, 0.1);
            object-position: center;

            .advantages_img {
                width: 40px;
                height: 40px;
            }
        }

        .advantages_title {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            color: var(--dark-text2);
        }

        .advantages_text {
            color: var(--dark-text2);
        }
    }

    .line_gray {
        display: none;
    }
}

@media screen and (max-width: 1325px) {
    .advantages_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        gap: 24px;
        padding: 80px 0;

        .advantages_wrapper {
            width: 100%;
            gap: 0;

            .advantages_img_box {
                width: 64px;
                height: 64px;
                padding: 16px;
                margin-bottom: 16px;

                .advantages_img {
                    width: 32px;
                    height: 32px;
                }
            }

            .advantages_title {
                font-size: 20px;
                line-height: 24px;
            }

            .advantages_text p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        .line_gray {
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
@media screen and (max-width: 765px) {
    .advantages_container {
        .advantages_wrapper {
            .advantages_img_box {
                width: 60px;
                height: 60px;
                padding: 14px;
                margin-bottom: 16px;

                border-radius: 8px;

                .advantages_img {
                    width: 32px;
                    height: 32px;
                }
            }

            .advantages_title {
                font-size: 18px;
                line-height: 21px;
            }
        }

        .line_gray {
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.left_upper {
    grid-area: left_upper;
    position: relative;
    overflow: hidden;
}

.right_upper {
    grid-area: right_upper;
    background-color: var(--gray);
}

.left_bottom {
    grid-area: left_bottom;
    background-color: var(--gray);
}

.right_bottom {
    grid-area: right_bottom;
    position: relative;
    overflow: hidden;
}

.grid_wrapper {
    display: grid;
    grid-template-areas:
        "left_upper right_upper"
        "left_bottom right_bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
}

.grid_wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;
}

.bg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left__goal_and_history {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    z-index: 3;

    width: 50%;
    margin-bottom: 0;

    font-size: 80px;
    font-weight: 800;
    line-height: 112px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: var(--white);
}

.left__goal_and_history_description {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    z-index: 3;

    width: 50%;
}

.right__goal_and_history {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 3;

    width: 55%;
    margin-bottom: 0;

    font-size: 80px;
    font-weight: 800;
    line-height: 112px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: var(--white);
}

.right__goal_and_history_description{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 3;

    width: 55%;
}

.text__goal_and_history_box {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.text_600_24_dark_text {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-text2);
    text-align: left;
}

.goal_and_history_description_text {
    color: var(--dark-text2);
}

.left_triangle {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 114px;
    height: 114px;

    z-index: 3;
    border: transparent;
}

.right_triangle {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    z-index: 7;

    width: 114px;
    height: 114px;
    border: transparent;
}

.triangle_top {
    display: none;
}

@media screen and (min-width: 1960px) {
    .left__goal_and_history {
        width: 50%;
    }

    .right__goal_and_history {
        width: 50%;
    }

    .right__goal_and_history_description {
        width: 50%;
    }

    .left__goal_and_history_description {
        width: 50%;
    }

    .triangle_top {
        display: none;
    }
}

@media screen and (max-width: 1785px) {
    .right__goal_and_history {
        width: 60%;
    }

    .right__goal_and_history_description {
        width: 60%;
    }

    .left__goal_and_history {
        width: 60%;
    }

    .left__goal_and_history_description {
        width: 60%;
    }
}

@media screen and (max-width: 1635px) {
    .right__goal_and_history {
        width: 65%;
    }

    .right__goal_and_history_description {
        width: 65%;
    }
}

@media screen and (max-width: 1505px) {
    .right__goal_and_history {
        width: 70%;
    }

    .right__goal_and_history_description {
        width: 70%;
    }

    .left__goal_and_history {
        width: 65%;
    }

    .left__goal_and_history_description {
        width: 65%;
    }
}

@media screen and (max-width: 1400px) {
    .right__goal_and_history {
        width: fit-content;
        font-size: 45px;
        line-height: 63px;
    }

    .left__goal_and_history {
        width: fit-content;
        font-size: 45px;
        line-height: 63px;
    }

    .text_600_24_dark_text {
        font-size: 20px;
    }

    .goal_and_history_description_text {
        font-size: 14px;
    }

    .left_triangle {
        width: 75px;
        height: 75px;
    }

    .right_triangle {
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 1325px) {
    .left_triangle {
        width: 42px;
        height: 42px;
    }

    .right_triangle {
        width: 42px;
        height: 42px;
    }
}

@media screen and (max-width: 900px) {
    .right__goal_and_history {
       left: 10%;
    }

    .left__goal_and_history {
       right: 10%;
    }

    .right__goal_and_history_description {
        width: 80%;
        left: 10%;
    }

    .left__goal_and_history_description {
        width: 80%;
        right: 10%;
    }
}

@media screen and (max-width: 765px) {
    .grid_wrapper {
        display: grid;
        grid-template-areas:
        "left_upper"
        "right_upper"
        "right_bottom"
        "left_bottom";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        width: 100%;
        height: 100%;
    }

    .left__goal_and_history {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        width: 100%;

        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .left_triangle {
        display: none;
    }

    .right_triangle {
        display: none;
    }

    .triangle_top {
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;

        z-index: 3;
        border: transparent;
    }

    .right__goal_and_history_description {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        width: 100%;
        padding: 72px 15px;
    }

    .right_upper, .left_bottom {
        height: 380px;
    }

    .text_600_24_dark_text {
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .goal_and_history_description_text {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-bottom: 0;
    }

    .right__goal_and_history {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        width: 100%;

        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .grid_wrapper > div {
        min-height: 380px;
    }
}
