@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --arrow-blue: #1D2557;
    --arrow-gray: #696C7B;
    --white: #ffffff;
    --gray: #E8E9EE;
    --gray-input-border: #D2D2D2;
    --red: #DB0614;
    --black: #000000;
    --blue:  #050D38;
    --dark-blue: #040927;
    --dark:#242424;
    --dark-text: #1D1D1D;
    --gray-text:  #717171;
    --light-gray:  #F3F3F3;
    --medium-gray:  #F6F6F8;
    --slider-gray:  #E8E9EE;
    --lable-blue: #3411BE;
    --lable-rose: #C201AF;
    --violet: #96A3E3;
}

body {
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;

    color: var(--black);
}

p {
    margin-bottom: 12px;
}

input {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid var(--gray-input-border);
    border-radius: 12px;
    outline: none;

    color: var(--dark-text);
}

input:focus {
    border: 1px solid var(--gray-text);
}

input:active {
    border: 1px solid var(--gray-text);
}

textarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    border: 1px solid var(--gray-input-border);
    border-radius: 12px;
    outline: none;

    color: var(--dark-text);
}

textarea:focus {
    border: 1px solid var(--gray-text);
}

textarea:active {
    border: 1px solid var(--gray-text);
}

/*ANIMATIONS*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*CLASSES*/
.container {
    width: 1280px;
    margin: 0 auto;
}

.content_wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    flex: 1;
}

.title {
    margin-bottom: 32px;

    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;

    color: var(--black);
}

.title__big {
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
    text-align: left;

    color: var(--black);
}

.param_dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    width: 100%;
    max-width: 304px;
    height: 60px;
    padding: 20px;

    background: var(--slider-gray);
    border-radius: 8px;

    cursor: pointer;

    .dropdown_size_select {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        font-size: 16px;
        font-weight: 400;
        background: var(--slider-gray);
        color: var(--black);
    }

    .param_select {
        background: var(--slider-gray);
        color: var(--black);
    }

    .param_select_clicked {
        background: var(--slider-gray);
        border: 2px solid var(--slider-gray);
        box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .param_dropdown_arrow_clicked {
        transform: rotate(180deg);
    }

    .param_dropdown_menu {
        display: none;
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 1000;

        width: 100%;
        list-style: none;

        background: var(--white);

        border: 1px solid var(--slider-gray);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        transition: 0.3s;
        opacity: 0;
    }

    .param_dropdown_menu_open {
        display: block;
        opacity: 1;
    }

    .param_dropdown_menu li {
        padding: 12px 24px;
        cursor: pointer;
    }

    .param_dropdown_menu li:hover {
        background: var(--slider-gray);
        font-weight: 600;
    }

    .active_dropdown_li {
        background: var(--slider-gray);
        font-weight: 600;
    }
}

.param_dropdown * {
    box-sizing: border-box;
    cursor: pointer;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .breadcrumb {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }

    .active {
        font-weight: 400;
    }
}

.header {
    display: flex;
    flex-direction: column;

    .header__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #1D25571A;

        .search_bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 16px 24px;
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 630px;

            .search_bar__input {
                width: 60%;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;

                &::placeholder {
                    font-size: 16px;
                    font-weight: 400;
                    color: #000;
                }
            }

            .search_bar__elems {
                display: flex;
                flex-direction: row;
                gap: 24px;

                .dropdown_menu {
                    display: flex;
                    flex-direction: column;

                    .trigger {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;

                        cursor: pointer;

                        .trigger__text {
                            font-size: 16px;
                            font-weight: 300;
                            vertical-align: middle;
                            white-space: nowrap;
                            color: #525252;
                        }
                    }
                }

                .search_bar__button {
                    width: 25px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        .user_navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .user_navigation__item {
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;

                .user_navigation__link {
                    position: relative;

                    .count {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        top: -4px;
                        right: -4px;

                        font-family: 'Montserrat', sans-serif;

                        width: 16px;
                        height: 16px;
                        border-radius: 50%;

                        font-size: 12px;
                        color: var(--white);
                        background-color: var(--red);
                    }
                }
            }
        }
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .category_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            &.main {
                display: flex;
                flex-direction: row;
                gap: 0;
                width: calc(100% / 3);

                .main_item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    height: 70px;
                    width: 100%;
                    background-color: #E8E9EE;
                    border: 1px solid rgba(29, 37, 87, 0.1);
                    transition: background-color 0.3s;

                    &:nth-child(1) {
                        border-radius: 12px 0 0 12px;
                    }

                    &:nth-child(3) {
                        border-radius: 0 12px 12px 0;
                    }

                    &.active {
                        background-color: #040927;
                        color: var(--white);
                    }

                    &:hover {
                        background-color: #040927;
                        color: var(--white);
                    }
                }
            }
        }
    }
}


.header__navbar {
    display: flex;
    align-items: center;
    height: 57px;
    margin-bottom: 20px;

    color: var(--white);
    background-color: var(--dark-blue);

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .shipping_text {
            font-size: 14px;
            font-weight: 400;

            .underlined {
                font-weight: 600;
                text-decoration: underline;
                text-underline-offset: 3px;
                transition: color 0.3s;

                &:hover {
                    color: #f5f5f5;
                }
            }
        }

        .interactive_menu {
            display: flex;
            flex-direction: row;
            gap: 64px;

            .params {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 24px;

                color: rgba(255, 255, 255, 0.3);

                .params__list {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;

                    .list__item {
                        cursor: pointer;
                        transition: color 0.3s;
                        font-size: 16px;
                        font-weight: 300;

                        &:hover {
                            color: #f5f5f5;
                        }

                        .active {
                            font-weight: 500;
                            color: var(--white);
                        }
                    }
                }
            }

            .vertical_line {
                width: 1px;
                height: 14px;
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                outline: none;
            }

            .links {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 32px;

                .social_media_list {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;
                }

                .phone__link {
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;

    .footer__mailing_list_wrapper {
        display: flex;
        align-items: center;

        padding: 32px 0 32px 0;

        background-color: var(--blue);
        color: var(--white);

        .item1 {grid-area: logo;}
        .item2 {grid-area: mailing_list;}
        .item3 {grid-area: input_box;}

        .mailing_list_box_grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            'logo mailing_list input_box input_box';

            gap: 20px;
        }

        .item1, .item2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 305px;
        }

        .mailing_list__title {
            display: flex;

            max-width: 260px;
            height: 70px;

            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
        }

        .mailing_list__form {
            width: 100%;

            .footer__input_mailing_list_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                height: 70px;

                .footer__mailing_list__input {
                    width: 100%;
                    height: 100%;
                    padding: 0 24px;

                    border-radius: 12px 0 0 12px;
                    border: none;
                    outline: none;

                    background-color: var(--white);
                    color: var(--black);

                    &::placeholder {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        text-align: start;
                        color: var(--black);
                    }
                }

                .footer__mailing_list__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 70px;
                    height: 100%;

                    border-radius: 0 12px 12px 0;
                    border: none;
                    outline: 1px solid var(--red);
                    background-color: var(--red);

                    cursor: pointer;
                    transition: 0.3s ease;

                    .footer__arrow_right_btn {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

    .footer__main_info_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        background-color: var(--dark-blue);
        color: var(--white);

        .item4 {grid-area: about_company;}
        .item5 {grid-area: for_customers;}
        .item6 {grid-area: category;}
        .item7 {grid-area: contacts;}
        .item8 {grid-area: join_in;
            justify-content: end;

            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
        }
        .item9 {grid-area: join_in_networks;
            justify-content: end;
        }

        .footer__grid_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            'logo mailing_list input_box input_box'
            'about_company for_customers category contacts'
            'join_in join_in_networks category contacts';

            padding: 32px 0 32px 0;
            gap: 20px;
        }

        .footer__grid_container > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 305px;
        }

        .footer__item_title {
            display: flex;
            margin-bottom: 32px;

            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            text-align: left;
        }

        .footer_item_category_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            gap: 24px;

            .footer_phone {
                font-weight: 700;
                line-height: 22px;
            }

            .footer_contacts {
                font-weight: 500;
                line-height: 22px;
            }

            .footer__work_time {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0;
            }

            .footer_messenger_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                gap: 12px;

                .footer_messenger_icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .footer_img_messenger_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            gap: 16px;

            .footer_messenger_cart {
                width: 55px;
                height: 55px;
            }
        }
    }
}

.footer_copyright_wrapper {
    padding: 18px 0 18px 0;

    background-color: var(--blue);
    color: var(--white);

    .footer__copy_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
    }
}

/*main section*/

.slider {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 850px;
    background-color: #1D2557;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

    .slider_content {
        position: relative;
        width: 100%;
        text-align: left;
        color: var(--white);

        .slider_text_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            z-index: 10;
            max-width: 765px;

            .slider_title {
                font-size: 80px;
                font-weight: 800;
                line-height: 94px;
                text-align: left;

                width: 100%;
                margin-bottom: 65px;
            }

            .slider_text {
                max-width: 522px;
                margin-bottom: 72px;

                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
            }

            .slider_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 310px;
                height: 70px;
                padding: 10px;
                gap: 15px;

                background: var(--white);
                color: var(--red);

                border-radius: 12px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;

                cursor: pointer;
                transition: 0.3s ease;
            }

            .slider_btn:hover {
                background: var(--red);
                color: var(--white);
            }

            .slider_btn svg {
                width: 15px;
                height: 15px;
            }

            .slider_btn svg path {
                fill: var(--red);
            }

            .slider_btn:hover svg path {
                fill: var(--white);
            }
        }

        .slider_arrow {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            width: 70px;
            height: 70px;

            color: white;
            background: rgba(0, 0, 0, 0.3);

            border: none;
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .slider_arrow svg path{
            width: 15px;
            height: 15px;
            fill: var(--white);
        }

        .slider_arrow:hover {
            background: rgba(0, 0, 0, 0.4);
        }


        .slider_arrow svg path:hover {
            width: 15px;
            height: 15px;
            fill: var(--arrow-gray);
        }

        .slider_arrow_left {
            left: 5%;
        }

        .slider_arrow_right {
            right: 5%;
        }
    }
}

.new_products_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--white);
}

.popular_products_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--gray);

}

.products_item_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    min-width: 305px;
    gap: 20px;

    .product_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        width: 305px;
        gap: 15px;


        .product_card_buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .product_card_button {
                display: flex;
                flex-direction: row;
                align-items: center;

                position: relative;

                width: 170px;
                gap: 20px;

                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;

                background-color: rgba(255, 255, 255, 1);
                animation: slideInRight 0.3s;

                &:hover {
                    .img_wrapper {
                        background-color: var(--red);

                        .product_card_button_img {
                            path {
                                fill: var(--white);
                            }
                        }
                    }

                    .product_card_button_text {
                        color: var(--red);
                        font-weight: 500;

                        &::after {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }

                .img_wrapper {
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    transition: 0.5s ease;

                    .product_card_button_img {
                        path {
                            fill: rgba(0, 0, 0, 1);
                            transition: 0.5s ease;
                        }
                   }
                }

                .product_card_button_text {
                    position: relative;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--black);

                    width: fit-content;
                    height: fit-content;

                    transition: 0.5s ease;
                    padding: 12px 0;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 15px;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: var(--red);
                        transition: width 0.5s ease;
                    }
                }
            }
        }

        .product_card_img_wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;

            width: 100%;
            height: 395px;

            position: relative;

            .product_card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image_overlay {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;

                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;

                padding-top: 12px;

                width: 100%;
                height: 100%;

                background-color: rgba(29, 37, 87, 0.4);
                transition: 0.3s ease;

                opacity: 0;
                visibility: hidden;
            }
        }

        &:hover {
            .product_label {
                opacity: 0;
                animation: fadeOut 0.3s;
            }

            .favorite-label {
                opacity: 1;
                animation: unset;
            }

            .image_overlay {
                opacity: 1;
                visibility: visible;
                animation: fadeIn 0.3s;
            }

            .product_title {
                text-decoration: underline;
            }

            .product_card_button {
                animation: slideInRight 0.3s !important;
            }
        }

        .card_describe_product {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            gap: 10px;
            flex-wrap: wrap;

            .product_price_wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                gap: 10px;

                text-align: left;
                font-size: 16px;
                font-weight: 400;
            }

            .old_price {
                text-decoration: line-through;
                color: var(--black);
            }

            .new_price {
                font-weight: 700;
                color: var(--red);
            }

            .single_price {
                font-weight: 700;
                color: var(--black);
            }

            .product_title {
                transition: 0.3s ease;
            }
        }

        .product_label {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: #fff;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            position: absolute;
            top: 12px;
            left: 0;
            z-index: 10;

            width: 48px;
            height: 36px;

            font-size: 14px;
            font-weight: 400;
        }

        .favorite {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            color: #fff;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            gap: 10px;

            background-color: #fff;

            position: absolute;
            top: 12px;
            right: 0;
            z-index: 10;

            width: 56px;
            height: 56px;

            font-size: 14px;
            font-weight: 400;

            transition: 0.3s ease;

            &:hover {
                background-color: rgba(230, 230, 230, 0.8);
            }
        }

        .new-label {
            background-color: var(--lable-blue);
        }
        .sale-label {
            background-color: #ff5722; /* червоний для "Sale" */
        }

        .top-label {
            background-color: var(--lable-rose);
        }
    }

}

.popular_products_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 40px;
    gap: 15px;

    .product_title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 25px;

        .popular_products_btn_box {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            gap: 15px;

            .left_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 70px;
                height: 70px;
                padding: 10px;

                background-color: var(--white);

                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;

                .left_btn svg {
                    width: 15px;
                    height: 15px;
                }

                .left_btn svg path {
                    fill: var(--arrow-blue);
                }

                &:hover {
                    background-color: var(--arrow-blue);
                }

                &:hover svg path {
                    fill: var(--white);
                }
            }

            .right_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 70px;
                height: 70px;
                padding: 10px;

                background-color: var(--arrow-blue);

                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;

                .right_btn svg {
                    width: 15px;
                    height: 15px;
                }

                .right_btn svg path {
                    fill: var(--white);
                }

                &:hover {
                    background-color: var(--white);
                }

                &:hover svg path {
                    fill: var(--arrow-blue);
                }
            }
        }
    }
}

.top_category__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;
    background-color: var(--white);

    .top_category__title {
        margin-bottom: 50px;

        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        text-align: center;

        color: var(--black);
    }

    .top_clothes {grid-area: top_clothes}
    .top_footwear {grid-area: top_footwear}
    .top_accessories {grid-area: top_accessories}
    .top_category__category {grid-area: top_category}

    .top_category__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'top_clothes top_footwear top_accessories top_category';

        width: 100%;
        gap: 20px;

        .top_category__item_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;

            width: 100%;
            gap: 25px;
        }
    }

    .top_category__box > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 305px;
    }
}

.gray_description__block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--gray);

    .gray_description__block_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        gap: 18px;

        .gray_description__text_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            width: 100%;
        }

        .gray_description__btn {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 305px;
            height: 70px;
            gap: 24px;

            color: var(--red);
            border-radius: 12px;
            border: 1px solid var(--red);
            outline: none;

            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;

            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: #DB0614;
                color: var(--white);
            }

            .icon {
                width: 15px;
                height: 15px;

                transition: transform 0.3s;
            }

            .gray_description__btn svg {
                width: 15px;
                height: 15px;
            }

            .gray_description__btn svg path {
                fill: var(--red);
            }

            .icon.rotated {
                transform: rotate(180deg);
            }

            &:hover svg path {
                fill: var(--white);
            }
        }
    }
}

.img_18_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    .img_18 {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.img_24_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    .img_24 {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.img_32_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    .img_32 {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.text_700_16_black {
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}

.text_600_24_black {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

.text_500_16_black {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.text_500_16_black {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text);
}

.text_300_14_black {
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
}

.btn_product_quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 165px;
    height: 70px;
    padding: 23px 20px;

    border-radius: 12px;
    border: 1px solid var(--dark);
    background-color:  rgba(36, 36, 36, 0.1);

    transition: 0.3s ease;

    .hr {
        height: 19px;
        border: 1px solid rgba(177, 177, 177, 0.3)
    }

    .quantity {
        font-size: 18px;
        font-weight: 500;
        color: rgba(36, 36, 36, 1);
    }
}

.star_rating_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    gap: 5px;

    .star_img {
        width: 16px;
        height: 16px;
    }
}


