@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --arrow-blue: #1D2557;
    --arrow-gray: #696C7B;
    --white: #ffffff;
    --gray: #E8E9EE;
    --gray-input-border: #D2D2D2;
    --gray-input-border2: #979797;
    --gray-table-border: #D4D5DF;
    --gray-old-price:  #939191;
    --gray-mobile-line: #E6E7EC;
    --red: #DB0614;
    --black: #000000;
    --blue:  #050D38;
    --blue-text: #0065FE;
    --dark-blue: #040927;
    --dark:#242424;
    --dark-text: #1D1D1D;
    --dark-text2: #181818;
    --gray-text:  #717171;
    --gray-none-reviews: #A5A5A5;
    --light-gray:  #F3F3F3;
    --medium-gray:  #F6F6F8;
    --slider-gray:  #E8E9EE;
    --lable-blue: #3411BE;
    --lable-rose: #C201AF;
    --violet: #96A3E3;
}

body {
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;

    color: var(--black);
}

@media screen and (max-width: 930px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }
}

p {
    margin-bottom: 12px;
}

input {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid var(--gray-input-border);
    border-radius: 12px;
    outline: none;

    color: var(--dark-text);
}

input:focus {
    border: 1px solid var(--gray-text);
}

input:active {
    border: 1px solid var(--gray-text);
}

textarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    border: 1px solid var(--gray-input-border);
    border-radius: 12px;
    outline: none;

    color: var(--dark-text);
}

textarea:focus {
    border: 1px solid var(--gray-text);
}

textarea:active {
    border: 1px solid var(--gray-text);
}

/*ANIMATIONS*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*CLASSES*/
.container {
    width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: 1320px) {
        width: 1080px;
        margin: 0 auto;
        padding: 0 10px;
    }

    @media screen and (max-width: 1080px) {
        width: 900px;
        padding: 0 10px;
    }

    @media screen and (max-width: 930px) {
        width: 100%;
        padding: 0 32px;
    }

    @media screen and (max-width: 765px) {
        margin: 0 auto;
        padding: 0 15px;
    }
}

.content_wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    flex: 1;
}

.title {
    margin-bottom: 32px;

    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;

    color: var(--black);
}

@media screen and (max-width: 930px) {
    .title {
        font-size: 18px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 765px) {
    .title {
        margin-bottom: 18px;
    }
}

.title__big {
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
    text-align: left;

    color: var(--black);
}

@media screen and (max-width: 930px) {
    .title__big {
        font-size: 32px;
        line-height: 38px;
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .title__big {
        font-size: 28px;
        line-height: 33px;
    }
}

.base_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: var(--black);
}


.param_dropdown * {
    box-sizing: border-box;
    cursor: pointer;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .breadcrumb {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }

    .active {
        font-weight: 400;
    }
}


.pagination_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 32px;

    gap: 32px;

    .pagination_controller {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        min-width: 70px;
        min-height: 70px;

        padding: 10px;
        gap: 10px;

        background-color: rgba(29, 37, 87, 1);

        border: none;
        border-radius: 8px;

        cursor: pointer;
        transition: 0.3s;

        @media screen and (max-width: 768px) {
            min-width: 50px;
            min-height: 50px;
        }

        @media screen and (max-width: 442px) {
            min-width: 40px;
            min-height: 40px;

            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }

            &:nth-child(6) {
                display: none;
            }
        }

        .pagination_arrow_svg {
            fill: #FFFFFF;
        }

        &:hover:not(.disabled) {
            box-shadow: 0 0 30px 0 rgba(60, 80, 114, 0.2);
        }

        &.disabled {
            cursor: not-allowed;
            background-color: rgba(29, 37, 87, 0.1);

            .pagination_arrow_svg {
                fill: #1D2557;
            }
        }
    }

    .pagination_page {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .pagination_page_number {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 70px;
            height: 70px;

            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);

            border-radius: 8px;

            cursor: pointer;
            transition: 0.3s;

            &.active {
                color: rgba(219, 6, 20, 1);
                font-weight: 700;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 0 30px 0 rgba(60, 80, 114, 0.2);
            }

            &:hover:not(.active) {
                color: rgba(219, 6, 20, 1);
            }

            @media screen and (max-width: 768px) {
                max-width: 50px;
                max-height: 50px;
            }

            @media screen and (max-width: 442px) {
                max-width: 40px;
                max-height: 40px;

                &:nth-child(4) {
                    display: none;
                }

                &:nth-child(5) {
                    display: none;
                }

                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

/*********************************   HEADER   *********************************/

.header {
    display: flex;
    flex-direction: column;

    .header__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #1D25571A;

        .search_bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 16px 24px;
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 630px;

            .search_bar__input {
                width: 60%;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;

                &::placeholder {
                    font-size: 16px;
                    font-weight: 400;
                    color: #000;
                }
            }

            .search_bar__elems {
                display: flex;
                flex-direction: row;
                gap: 24px;

                .dropdown_menu {
                    display: flex;
                    flex-direction: column;

                    .trigger {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;

                        cursor: pointer;

                        .trigger__text {
                            font-size: 16px;
                            font-weight: 300;
                            vertical-align: middle;
                            white-space: nowrap;
                            color: #525252;
                            margin-bottom: 0;
                        }
                    }
                }

                @media screen and (max-width: 1090px) {
                    .dropdown_menu {
                        display: none;
                    }
                }

                .search_bar__button {
                    width: 25px;
                    & img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        @media screen and (max-width: 1320px) {
            .search_bar {
                width: 500px;
            }
        }

        @media screen and (max-width: 1090px) {
            .search_bar {
                width: 386px;

                .search_bar__input {
                    font-size: 12px;
                    font-weight: 300;

                    &::placeholder {
                        font-size: 12px;
                        font-weight: 300;
                        color: #000;
                    }
                }
            }
        }

        .user_navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            .user_navigation__item {
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;

                .user_navigation__link {
                    position: relative;

                    .count {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        top: -4px;
                        right: -4px;

                        font-family: 'Montserrat', sans-serif;

                        width: 16px;
                        height: 16px;
                        border-radius: 50%;

                        font-size: 12px;
                        color: var(--white);
                        background-color: var(--red);
                    }
                }
            }
        }
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .category_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            &.main {
                display: flex;
                flex-direction: row;
                gap: 0;
                width: calc(100% / 3);

                .main_item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    height: 70px;
                    width: 100%;
                    background-color: #E8E9EE;
                    border: 1px solid rgba(29, 37, 87, 0.1);
                    transition: background-color 0.3s;

                    &:nth-child(1) {
                        border-radius: 12px 0 0 12px;
                    }

                    &:nth-child(3) {
                        border-radius: 0 12px 12px 0;
                    }

                    &.active {
                        background-color: #040927;
                        color: var(--white);
                    }

                    &:hover {
                        background-color: #040927;
                        color: var(--white);
                    }
                }
            }
        }
    }

    .menu-toggle {
        display: none;
    }

    .categories.hidden {
        display: none;
    }

    /* Відображаємо кнопку і приховуємо список для мобільних */
    @media (max-width: 1320px) {
        .categories {
            display: none;
        }

        .categories.hidden {
            display: block;

            width: 100%;
            margin: 0 auto;
            border-radius: 0;

            .category_item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 15px;

                border-bottom: 1px solid var(--gray-mobile-line);

                font-size: 16px;
                font-weight: 400;
                cursor: pointer;

                &:nth-child(1) {
                   border-bottom: none;
                }

                .category_item img {
                    width: 18px;
                    height: 18px;
                }

                .main {
                    display: flex;
                    gap: 0;
                    width: calc(100% / 3);

                    .main_item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        height: 70px;
                        width: 100%;
                        background-color: #E8E9EE;
                        border: none;
                        transition: background-color 0.3s;
                        border-radius: 0;

                        &.active {
                            background-color: #040927;
                            color: var(--white);
                        }

                        &:hover {
                            background-color: #040927;
                            color: var(--white);
                        }
                    }
                }

                .category_link_main {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .menu-toggle {
            display: inline-block;

            border: none;
            cursor: pointer;
        }
    }
}

.header__navbar {
    display: flex;
    align-items: center;
    height: 57px;
    margin-bottom: 20px;

    color: var(--white);
    background-color: var(--dark-blue);

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .shipping_text {
            font-size: 14px;
            font-weight: 400;

            .underlined {
                font-weight: 600;
                text-decoration: underline;
                text-underline-offset: 3px;
                transition: color 0.3s;

                &:hover {
                    color: #f5f5f5;
                }
            }
        }

        .interactive_menu {
            display: flex;
            flex-direction: row;
            gap: 64px;

            .params {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 24px;

                color: rgba(255, 255, 255, 0.3);

                @media screen and (max-width: 1150px) {
                    gap: 16px;
                }

                .params__list {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;


                    @media screen and (max-width: 1150px) {
                        display: none;
                    }

                    .list__item {
                        cursor: pointer;
                        transition: color 0.3s;
                        font-size: 16px;
                        font-weight: 300;

                        &:hover {
                            color: #f5f5f5;
                        }

                        .active {
                            font-weight: 500;
                            color: var(--white);
                        }
                    }
                }

                .params__mobile_dropdown {
                    display: none;

                    @media screen and (max-width: 1150px) {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        position: relative;

                        .params__mobile_dropdown_button {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 4px;

                            .params__mobile_dropdown_button_text {
                                font-size: 12px;
                                text-transform: uppercase;
                                font-weight: 500;
                                color: #fff;
                                line-height: 14px;
                            }

                            .img__wrapper {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                width: 18px;
                                height: 18px;

                                .arrow_down {
                                    transition: 0.3s ease;

                                    &.rotated {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }

                        .params__mobile_dropdown_content {
                            display: flex;
                            flex-direction: column;
                            padding: 5px 12px;
                            background-color: var(--dark-blue);
                            border-radius: 12px;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 1000;

                            .params__mobile_dropdown_list {
                                display: flex;
                                flex-direction: column;
                                gap: 12px;

                                .list__item {
                                    cursor: pointer;
                                    transition: color 0.3s;
                                    font-size: 16px;
                                    font-weight: 300;
                                    color: rgba(255, 255, 255, 1);

                                    &:hover {
                                        color: #f5f5f5;
                                    }


                                    &.active {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .vertical_line {
                width: 1px;
                height: 14px;
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                outline: none;
            }

            .links {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 32px;

                .social_media_list {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;
                }

                .phone__link {
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .interactive_menu {
        gap: 27px;
    }
}


/***************************************FOOTER*********************************/

.footer {
    display: flex;
    flex-direction: column;

    .footer__mailing_list_wrapper {
        display: flex;
        align-items: center;

        padding: 32px 0 32px 0;

        background-color: var(--blue);
        color: var(--white);

        .item1 {
            grid-area: logo;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 305px;
        }
        .item2 {
            grid-area: mailing_list;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            width: 305px;
        }
        .item3 {grid-area: input_box;}

        .mailing_list_box_grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            'logo mailing_list input_box input_box';

            gap: 20px;
        }

        @media screen and (max-width: 1325px){
            .item1, .item2 {
                width: 227px;
            }
        }

        .mailing_list__title {
            display: flex;

            max-width: 260px;
            margin-bottom: 0;

            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
        }

        .mailing_list__form {
            width: 100%;

            .footer__input_mailing_list_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                height: 70px;

                .footer__mailing_list__input {
                    width: 100%;
                    height: 100%;
                    padding: 0 24px;

                    border-radius: 12px 0 0 12px;
                    border: none;
                    outline: none;

                    background-color: var(--white);
                    color: var(--black);

                    &::placeholder {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        text-align: start;
                        color: var(--black);
                    }
                }

                .footer__mailing_list__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 70px;
                    height: 100%;

                    border-radius: 0 12px 12px 0;
                    border: none;
                    outline: 1px solid var(--red);
                    background-color: var(--red);

                    cursor: pointer;
                    transition: 0.3s ease;

                    .footer__arrow_right_btn {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 930px) {
        .footer__mailing_list_wrapper {
            padding: 29px 0;

            .item1 {
                width: 132px;
                margin-right: 47px;

                .logo {
                    width: 132px;
                    height: 30px;
                }
            }

            .mailing_list_box_grid {
                gap: 0;
            }

            .item2 {
                width: fit-content;
                margin-right: 12px;

                .mailing_list__title {
                    align-items: center;

                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .mailing_list__form {

                .footer__input_mailing_list_box {
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 765px){
        .footer__mailing_list_wrapper {
            padding: 0;

            .mailing_list_box_grid {
                display: grid;
                justify-content: center;
                align-content: center;
                grid-template-columns: 1fr;
                grid-template-rows: 75px 50px 50px;
                grid-template-areas:
                'logo'
                'mailing_list'
                'input_box';

                padding: 32px 0;
                gap: 16px;
            }

            .item1 {
                padding-bottom: 20px;
                margin: 0 auto;
                width: 140px;
            }

            .item2 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                width: fit-content;
                height: 50px;
                padding: 0 26px;
                margin: 0 auto;
            }

            .mailing_list__form {
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 650px){
        .footer__mailing_list_wrapper {

            .mailing_list__form {
                width: 75%;
            }
        }
    }

    @media screen and (max-width: 450px){
        .footer__mailing_list_wrapper {

            .mailing_list__form {
                width: 90%;
            }
        }
    }

    .footer__main_info_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        background-color: var(--dark-blue);
        color: var(--white);

        .item4 {grid-area: about_company;}
        .item5 {grid-area: for_customers;}
        .item6 {grid-area: category;}
        .item7 {
            grid-area: contacts;

            .footer_params {
                display: none;
            }
        }
        .item8 {grid-area: join_in;
            justify-content: end;

            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
        }
        .item9 {grid-area: join_in_networks;
            justify-content: end;
        }

        .footer__grid_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            'about_company for_customers category contacts'
            'join_in join_in_networks category contacts';

            padding: 32px 0 32px 0;
            gap: 20px;

            .item10 {
                display: none;
            }
        }

        .footer__grid_container > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 305px;
        }

        .footer__item_title {
            display: flex;
            margin-bottom: 32px;

            font-size: 16px;
            font-weight: 600;
            line-height: 23px;
            text-align: left;
        }

        .footer_item_category_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            gap: 24px;

            .footer_phone {
                font-weight: 700;
                line-height: 22px;
            }

            .footer_contacts {
                font-weight: 500;
                line-height: 22px;
            }

            .footer__work_time {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0;
            }

            .footer_messenger_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                gap: 12px;

                .footer_messenger_icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .footer_img_messenger_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            gap: 16px;

            .footer_messenger_cart {
                width: 55px;
                height: 55px;
            }
        }


        @media screen and (max-width: 1325px){
            .footer__grid_container > div {
                width: 227px;
            }

            .item8 {grid-area: join_in;
                font-size: 18px;
            }
        }

        @media screen and (max-width: 1085px){
            .footer__grid_container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas:
                'about_company for_customers  contacts'
                'category join contacts';

                padding: 32px 0 32px 0;
                gap: 20px;

                .item8 {grid-area: none;}
                .item9 {grid-area: none;}

                .item8, .item9 {
                    display: none;
                }

                .item10 {
                    grid-area: join;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    gap: 24px;
                }

                .footer_img_messenger_box {
                    gap: 12px;

                    .footer_messenger_cart {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }

        @media screen and (max-width: 930px) {
            .footer__item_title {
                font-size: 14px;
                line-height: 20px;

                margin-bottom: 24px;
            }

            .footer__grid_container {
                .footer_messenger_box {
                    gap: 8px;
                    font-size: 12px;

                    .footer_messenger_icon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        @media screen and (max-width: 765px){
            .footer__item_title {
                margin-bottom: 14px;
            }

            .contacts {
                font-size: 16px;
                font-weight: 600;
                line-height: 23px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .footer__grid_container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                'about_company category'
                'for_customers for_customers'
                'contacts contacts'
                'join join';

                gap: 0;

                .item7 {
                    .footer_params {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        margin-top: 18px;
                        gap: 24px;

                        .footer_params__list {
                            display: flex;
                            flex-direction: row;
                            gap: 12px;

                            .language_link {
                                color: rgba(255, 255, 255, 0.3);

                                &.active {
                                    color: var(--white);
                                }
                            }
                        }

                        .footer_vertical_line {
                            width: 1px;
                            height: 14px;
                            background-color: rgba(255, 255, 255, 0.2);
                            border: none;
                            outline: none;
                        }
                    }
                }

                .item10 {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    gap: 0;

                    .footer_img_messenger_box {
                        padding: 5px 12px;
                        gap: 8px;

                        .footer_messenger_cart {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                .footer_messenger_box {
                    gap: 12px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }

            .footer__grid_container > div {
                width: 100%;
                padding: 32px 0;

                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
        }
    }
}


.footer_copyright_wrapper {
    padding: 18px 0 18px 0;

    background-color: var(--blue);
    color: var(--white);

    .footer__copy_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
    }

    @media screen and (max-width: 930px){
        .footer__copy_box {
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media screen and (max-width: 765px){
        .footer_copyright_wrapper {
            padding: 18px 0;
            margin: 0 auto;
        }

        .footer__copy_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            gap: 12px;
        }
    }
}

/******************************         main section   *********************************/

/*********************************         SLIDER   *********************************/

.slider {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 850px;
    background-color: #1D2557;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

    .slider_content {
        position: relative;
        width: 100%;
        text-align: left;
        color: var(--white);

        .slider_text_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            z-index: 10;
            max-width: 765px;

            .slider_title {
                font-size: 80px;
                font-weight: 800;
                line-height: 94px;
                text-align: left;

                width: 100%;
                margin-bottom: 65px;
            }

            .slider_text {
                max-width: 522px;
                margin-bottom: 72px;

                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
            }

            .slider_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 310px;
                height: 70px;
                padding: 10px;
                gap: 15px;

                background: var(--white);
                color: var(--red);

                border-radius: 12px;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;

                cursor: pointer;
                transition: 0.3s ease;
            }

            .slider_btn:hover {
                background: var(--red);
                color: var(--white);
            }

            .slider_btn svg {
                width: 15px;
                height: 15px;
            }

            .slider_btn svg path {
                fill: var(--red);
            }

            .slider_btn:hover svg path {
                fill: var(--white);
            }
        }

        .slider_arrow {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            width: 70px;
            height: 70px;

            color: white;
            background: rgba(0, 0, 0, 0.3);

            border: none;
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .slider_arrow svg path{
            width: 15px;
            height: 15px;
            fill: var(--white);
        }

        .slider_arrow:hover {
            background: rgba(0, 0, 0, 0.4);
        }


        .slider_arrow svg path:hover {
            width: 15px;
            height: 15px;
            fill: var(--arrow-gray);
        }

        .slider_arrow_left {
            left: 5%;
        }

        .slider_arrow_right {
            right: 5%;
        }
    }
}

/*********************************        NEW PRODUCTS   *********************************/

.new_products_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--white);

    @media screen and (max-width: 1520px) {
        padding: 0;
    }
}

/*********************************        POPULAR PRODUCTS   *********************************/
.popular_products_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--gray);
}

@media screen and (max-width: 930px) {
    .popular_products_wrapper {
        padding: 80px 0;
    }
}

.products_item_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: 20px;

    width: 100%;

    @media screen and (max-width: 1320px) {
        grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
        gap: 12px;
    }

    @media screen and (max-width: 380px) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }


    .product_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        width: 305px;
        gap: 15px;

        @media screen and (max-width: 1320px) {
            width: 167px;
            gap: 12px;
        }

        @media screen and (max-width: 380px) {
            width: 120px;
            gap: 8px;
        }


        .product_card_buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .product_card_button {
                display: flex;
                flex-direction: row;
                align-items: center;

                position: relative;

                width: 170px;
                gap: 20px;

                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;

                background-color: rgba(255, 255, 255, 1);
                animation: slideInRight 0.3s;

                @media screen and (max-width: 1320px) {
                    width: 50px;

                    .product_card_button_text {
                        display: none;
                    }
                }

                &:hover {
                    .img_wrapper {
                        background-color: var(--red);

                        .product_card_button_img {
                            path {
                                fill: var(--white);
                            }
                        }
                    }

                    .product_card_button_text {
                        color: var(--red);
                        font-weight: 500;

                        &::after {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }

                .img_wrapper {
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    transition: 0.5s ease;

                    .product_card_button_img {
                        path {
                            fill: rgba(0, 0, 0, 1);
                            transition: 0.5s ease;
                        }
                   }
                }

                .product_card_button_text {
                    position: relative;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--black);

                    width: fit-content;
                    height: fit-content;

                    transition: 0.5s ease;
                    padding: 12px 0;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 15px;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: var(--red);
                        transition: width 0.5s ease;
                    }
                }
            }
        }

        .product_card_img_wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: hidden;

            width: 100%;
            height: 395px;

            position: relative;

            @media screen and (max-width: 1320px) {
                height: 216px;
            }

            @media screen and (max-width: 380px) {
                height: 156px;
            }

            .product_card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image_overlay {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;

                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;

                padding-top: 12px;

                width: 100%;
                height: 100%;

                background-color: rgba(29, 37, 87, 0.4);
                transition: 0.3s ease;

                opacity: 0;
                visibility: hidden;
            }
        }

        &:hover {
            .product_label {
                opacity: 0;
                animation: fadeOut 0.3s;
            }

            .favorite-label {
                opacity: 1;
                animation: unset;
            }

            .image_overlay {
                opacity: 1;
                visibility: visible;
                animation: fadeIn 0.3s;
            }

            .product_title {
                text-decoration: underline;
            }

            .product_card_button {
                animation: slideInRight 0.3s !important;
            }
        }

        .card_describe_product {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            gap: 10px;
            flex-wrap: wrap;

            .product_price_wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                gap: 10px;

                text-align: left;
                font-size: 16px;
                font-weight: 400;
            }

            .old_price {
                text-decoration: line-through;
                color: var(--black);
            }

            .new_price {
                font-weight: 700;
                color: var(--red);
            }

            .single_price {
                font-weight: 700;
                color: var(--black);
            }

            .product_title {
                transition: 0.3s ease;
            }
        }

        @media screen and (max-width: 1320px) {
            .card_describe_product {
                gap: 8px;

                .product_price_wrapper, .new_price, .single_price, .product_title {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        @media screen and (max-width: 765px) {
            .card_describe_product {
                gap: 4px;

                .product_price_wrapper, .new_price, .single_price, .product_title {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        .product_label {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: #fff;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            position: absolute;
            top: 12px;
            left: 0;
            z-index: 10;

            width: 48px;
            height: 36px;

            font-size: 14px;
            font-weight: 400;
        }

        @media screen and (max-width: 1320px) {
            .product_label {
                width: 40px;
                height: 30px;
                padding: 8px;

                font-size: 12px;
            }
        }

        @media screen and (max-width: 380px) {
            .product_label {
                width: 28px;
                height: 20px;
                padding: 4px;

                font-size: 10px;
            }
        }

        .favorite {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            color: #fff;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            gap: 10px;

            background-color: #fff;

            position: absolute;
            top: 12px;
            right: 0;
            z-index: 10;

            width: 56px;
            height: 56px;

            font-size: 14px;
            font-weight: 400;

            transition: 0.3s ease;

            &:hover {
                background-color: rgba(230, 230, 230, 0.8);
            }
        }

        .new-label {
            background-color: var(--lable-blue);
        }
        .sale-label {
            background-color: #ff5722; /* червоний для "Sale" */
        }

        .top-label {
            background-color: var(--lable-rose);
        }
    }

}

.popular_products_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 40px;
    gap: 15px;

    .product_title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 25px;

        .popular_products_btn_box {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            gap: 15px;

            .left_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 70px;
                height: 70px;
                padding: 10px;

                background-color: var(--white);

                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;

                .left_btn svg {
                    width: 15px;
                    height: 15px;
                }

                .left_btn svg path {
                    fill: var(--arrow-blue);
                }

                &:hover {
                    background-color: var(--arrow-blue);
                }

                &:hover svg path {
                    fill: var(--white);
                }
            }

            .right_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 70px;
                height: 70px;
                padding: 10px;

                background-color: var(--arrow-blue);

                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;

                .right_btn svg {
                    width: 15px;
                    height: 15px;
                }

                .right_btn svg path {
                    fill: var(--white);
                }

                &:hover {
                    background-color: var(--white);
                }

                &:hover svg path {
                    fill: var(--arrow-blue);
                }
            }

            @media screen and (max-width: 930px) {
                .popular_products_btn_box {
                    gap: 8px;
                }

                .left_btn, .right_btn {
                    width: 55px;
                    height: 55px;

                    .left_btn svg, .right_btn svg {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 735px) {
    .popular_products_box {
        margin-bottom: 32px;
        gap: 30px;

        .product_title_box {
            gap: 30px;

            .popular_products_btn_box {
                gap: 4px;

                .left_btn, .right_btn {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

/*********************************        TOP CATEGORY   *********************************/

.top_category__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;
    background-color: var(--white);

    .top_category__title {
        margin-bottom: 50px;

        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        text-align: center;

        color: var(--black);
    }

    .top_clothes {grid-area: top_clothes}
    .top_footwear {grid-area: top_footwear}
    .top_accessories {grid-area: top_accessories}
    .top_category__category {grid-area: top_category}

    .top_category__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'top_clothes top_footwear top_accessories top_category';

        width: 100%;
        gap: 20px;

        .top_category__item_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;

            width: 100%;
            gap: 25px;
        }
    }

    .top_category__box > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @media screen and (max-width: 930px) {
        .top_category__box > div {
            min-width: 167px;
        }

        .top_category__title {
            font-size: 32px;
            line-height: 38px;

            margin-bottom: 32px;
        }

        .top_category__box {
            gap: 12px;
        }
    }

    @media screen and (max-width: 765px) {
        .top_category__title {
            font-size: 28px;
            line-height: 33px;

            margin-bottom: 24px;
        }

        .top_category__box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            'top_clothes top_footwear'
            'top_accessories top_category';

            gap: 10px;
        }

        .top_category__box > div {
            display: flex;
            flex-wrap: wrap;

            min-width: 120px;
        }

        .top_clothes, .top_footwear {
            margin-bottom: 14px;
        }
    }
}

@media screen and (max-width: 930px) {
    .top_category__wrapper {
        padding: 80px 0;
    }
}

/*********************************        GRAY DESCRIPTION   *********************************/

.gray_description__block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px;

    background-color: var(--gray);

    .gray_description__block_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        gap: 18px;

        .gray_description__text_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            width: 100%;
        }

        .gray_description__btn {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 305px;
            height: 70px;
            gap: 24px;

            color: var(--red);
            border-radius: 12px;
            border: 1px solid var(--red);
            outline: none;

            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;

            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: #DB0614;
                color: var(--white);
            }

            .btn_icon_arrow {
                width: 15px;
                height: 15px;

                transition: transform 0.3s;
            }

            .gray_description__btn svg {
                width: 15px;
                height: 15px;
            }

            .gray_description__btn svg path {
                fill: var(--red);
            }

            .btn_icon_arrow.rotated {
                transform: rotate(180deg);
            }

            &:hover svg path {
                fill: var(--white);
            }
        }

    }
}

@media screen and (max-width: 930px) {
    .gray_description__block_wrapper {
        padding: 80px 0;

        .gray_description__block_box {
            gap: 5px;

            .gray_description__btn {
                width: 227px;
                height: 60px;

                font-size: 14px;
            }

        }
    }
}

@media screen and (max-width: 765px) {
    .gray_description__block_wrapper {
       display: none;
    }
}

/*********************************        GENERAL   *********************************/

.img_18_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    .img_18 {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.img_24_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    .img_24 {
        width: 100%;
        height: 100%;

        object-fit: cover;
        transition: 0.3s ease;

        &.rotate-180 {
            transform: rotate(180deg);
        }
    }
}

.img_32_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    .img_32 {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
.text_800_32_black {
    font-size: 32px;
    font-weight: 800;
}

.text_700_16_black {
    font-weight: 700;
}

.text_700_16_red {
    font-weight: 700;
    color: var(--red);
}

.text_600_24_black {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

.text_600_18_black {
    font-size: 18px;
    font-weight: 500;
}

.text_600_18_black {
    font-weight: 600;
}

.text_500_18 {
    font-size: 18px;
    font-weight: 500;
}

.text_500_16_black {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

@media screen and (max-width: 770px) {
    .text_500_16_black {
        font-size: 14px;
        margin-bottom: 8px;
    }
}

.text_500_16_dark-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text);
}

.text_500_14_black {
    font-size: 14px;
    font-weight: 500;
}

.text_400_16_black {
    font-weight: 400;
}

.text_300_14_black {
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
}

.btn_product_quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 165px;
    height: 70px;
    padding: 23px 20px;

    border-radius: 12px;
    border: 1px solid var(--dark);
    background-color:  rgba(36, 36, 36, 0.1);

    transition: 0.3s ease;

    .hr {
        height: 19px;
        border: 1px solid rgba(177, 177, 177, 0.3)
    }

    .quantity {
        font-size: 18px;
        font-weight: 500;
        color: rgba(36, 36, 36, 1);
    }
}

.star_rating_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    gap: 5px;

    .star_img {
        width: 16px;
        height: 16px;
    }
}


