.param_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 24px;
    gap: 24px;

    width: fit-content;
    height: 70px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .param_image {
        width: 24px;
        height: 24px;
    }

    .vertical_line {
        width: 1px;
        height: 14px;
        background-color: rgba(4, 9, 39, 0.1);
    }

    .param_text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}

.new_products_wrapper {
    flex-direction: column;
    padding-top: 48px;
    gap: 48px;
}

.filter_and_sort_by_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;

    .sort_by_box {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 32px;
    }
}


.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .breadcrumb {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }

    .active {
        font-weight: 400;
    }
}



.pagination_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 32px;

    gap: 32px;

    .pagination_controller {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 70px;
        height: 70px;

        padding: 10px;
        gap: 10px;

        background-color: rgba(29, 37, 87, 1);

        border: none;
        border-radius: 8px;

        cursor: pointer;
        transition: 0.3s;

        .pagination_arrow_svg {
            fill: #FFFFFF;
        }

        &:hover:not(.disabled) {
            box-shadow: 0 0 30px 0 rgba(60, 80, 114, 0.2);
        }

        &.disabled {
            cursor: not-allowed;
            background-color: rgba(29, 37, 87, 0.1);

            .pagination_arrow_svg {
                fill: #1D2557;
            }
        }
    }

    .pagination_page {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .pagination_page_number {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 70px;
            height: 70px;

            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);

            border-radius: 8px;

            cursor: pointer;
            transition: 0.3s;

            &.active {
                color: rgba(219, 6, 20, 1);
                font-weight: 700;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 0 30px 0 rgba(60, 80, 114, 0.2);
            }

            &:hover:not(.active) {
                color: rgba(219, 6, 20, 1);
            }
        }
    }
}


.side_panel_wrapper  {
    display: flex;
    justify-content: flex-end;
    align-items: start;

    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    height: 100%;

    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;

    .side_panel_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 50%;
        gap: 25px;

        .filter_and_close_btn_box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            .filter {
                width: fit-content;

                border-radius: 0;
                border: none;
            }

            .close_btn {
                display: flex;
                justify-content: center;
                align-items: center;

                min-width: 70px;
                height: 70px;
                padding: 10px;

                background-color: var(--gray);
                color: var(--black);

                cursor: pointer;
                text-decoration: none;
                transition: 0.3s;

                font-size: 36px;
            }
        }

        .form_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            padding: 0 0 24px 0;
            gap: 25px;

            .side_panel_form_box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                padding: 0 20px 0 0;

                .side_panel_form_title_wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    gap: 12px;

                    .side_panel_form_title {
                        font-weight: 700;
                        font-size: 16px;
                    }
                }

                .side_panel_checkbox_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    width: 100%;
                    gap: 12px;
                }

                .checkbox-container {
                    display: block;
                    position: relative;

                    width: 100%;
                    padding-left: 30px;
                    margin-bottom: 12px;

                    cursor: pointer;
                    font-size: 18px;
                    user-select: none;
                }

                .checkbox-container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;

                    border-radius: 4px;
                    border: 1px solid var(--dark-blue);
                }

                .checkbox-container input:checked + .checkmark {
                    background-color: var(--red);
                    border: none;
                }

                .checkbox-container input:checked + .checkmark:after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 6px;
                    top: 2px;
                    width: 6px;
                    height: 12px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}


