.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    gap: 48px;
    margin-bottom: 120px;

    .info__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        margin-bottom: 32px;
    }

    & li {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 15px;
        list-style-type: disc;
        list-style-position: outside;
    }

    .line {
        width: 100%;
        height: 1px;
        margin-top: 48px;
        margin-bottom: 48px;

        border: 1px solid rgba(29, 37, 87, 0.1);
    }

    .red_small {
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        color: var(--red);
    }
}
