.order_history_title {
    margin-bottom: 24px;

    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: var(--black);

    @media (max-width: 768px) {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }

    @media (max-width: 280px) {
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
    }
}

.order_history_component_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    gap: 12px;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        width: 100%;
        gap: 20px;

        &.active {
            align-items: flex-end;
        }
    }

    .heading_mobile {
        display: none;
    }

    .order_details {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .order_details_mobile {
        display: none;
    }

    .order_history_box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;

        width: 100%;
        padding: 32px;
        gap: 20px;

        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;


        .order_attributes {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;

            .order_attributes_title {
                width: 100%;
                min-width: 402px;
                margin-bottom: 8px;
            }
        }

        .order_title {
            width: fit-content;
            margin-bottom: 8px;
        }
    }

    .order_history_box_opened {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        padding: 32px;
        gap: 20px;

        border-radius: 16px;
        background: var(--gray);
        cursor: pointer;

        .border_none {
            border: none;
            padding: 0;
        }

        .product_description_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;

            border-radius: 16px;
            background: var(--white);
        }

        .cost_and_delivery_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            width: 100%;
            gap: 20px;

            .cost_and_delivery_box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 50%;

                .cost_and_delivery_options {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 50px;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }
            }

            .delivery_box {
                padding-left: 76px;
                padding-right: 28px;
            }
        }

    }
}

@media (max-width: 1100px) {
    .order_history_component_wrapper {
        .order_details {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }

        .order_history_box {
            padding: 16px;

            border-radius: 12px;

            .order_attributes {

                .order_attributes_title {
                    min-width: 348px;
                    font-size: 14px;
                }
            }

            .order_title {
                font-size: 14px;
            }
        }

        .order_history_box_opened {
            padding: 16px;
            gap: 16px;

            border-radius: 12px;

            .product_description_wrapper {
                border-radius: 12px;
            }

            .cost_and_delivery_wrapper {
                gap: 15px;

                .cost_and_delivery_box {
                    .cost_and_delivery_options {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        width: 100%;
                        height: 44px;
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }

                .delivery_box {
                    padding: 0;
                }
            }

        }
    }
}

@media (max-width: 580px) {
    .order_history_component_wrapper {

        .heading {
            display: none;
        }

        .heading_mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;

            width: 100%;
            gap: 8px;

            .order_attributes_box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                gap: 8px;


                .order_attributes_title {
                    width: 100%;
                    margin-bottom: 0;

                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 14px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                    color: var(--black);
                }

                .order_history_sent {
                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 14px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }

                .sent_active {
                    display: flex;
                }

                .sent_active.active {
                    display: none;
                }
            }
        }

        .order_history_box {
            padding: 8px;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .order_details {
            display: none;
        }

        .order_details_mobile {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;

            .delivery_box_mobile {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;

                .order_history_line {
                    display: flex;
                    width: 100%;
                    height: 1px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    margin-bottom: 8px;
                }

                .delivery_text_mobile {
                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 14px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                    color: var(--black);

                    .delivery_text_bold_mobile {
                        font-weight: 400;
                    }
                }
            }

            .cost_box_wrapper_mobile  {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;

                .cost_box_mobile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    padding: 8px 0;

                    border-top: 1px solid rgba(0, 0, 0, 0.1);

                    font-family: Roboto, sans-serif;
                    font-size: 12px;

                    line-height: 14px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                    color: var(--black);

                    .cost_text_mobile {
                        font-weight: 400;
                    }

                    .cost_text_bold_mobile {
                        font-weight: 500;
                    }

                    .delivery_cost_box_mobile {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;

                        width: fit-content;

                        .new_post_text {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;

                            width: fit-content;

                            font-weight: 300;
                        }

                        .new_post_nearly_text {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;

                            width: fit-content;

                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .order_history_box_opened {
            padding: 8px;
            gap: 8px;

            border-radius: 8px;

            .product_description_wrapper {
                border-radius: 8px;
            }
        }
    }
}

.order_description_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    gap: 20px;
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-child {
        border-bottom: none;
    }

    .photo_product_box {
        width: 79px;
        height: 102px;
        object-position: center;

        .photo_product_box {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 1100px) {
        .photo_product_box {
            width: 65px;
            height: 84px;
            object-position: center;

            .photo_product_box {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .order_description_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 22px;

        .order_description_attribute {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;

            width: 50%;
            padding: 28px 0;

            .order_description_attributes_title {
                width: 100%;
                max-width: 400px;
                margin-bottom: 8px;
            }
        }

        .number_and_price_box_wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            width: 50%;
            gap: 22px;

            .number_and_price_box {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                max-width: 150px;
                margin-bottom: 8px;
            }
        }
    }

    @media (max-width: 1100px) {
        .order_description_box {
            gap: 24px;

            .order_description_attribute {
                width: 50%;
                padding: 0;

                .order_description_attributes_title {
                    max-width: 322px;

                    font-family: Roboto, sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 16px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }

            .number_and_price_box_wrapper {
                width: 50%;
                gap: 10px;

                .number_and_price_box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    max-width: 150px;
                    margin-bottom: 8px;
                }
            }
        }
    }

}

.order_description_box_mobile {
    display: none;
}

@media (max-width: 580px) {
    .order_description_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        gap: 16px;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
            border-bottom: none;
        }

        .photo_product_box {
            width: 60px;
            height: 77px;
            object-position: center;

            .photo_product_box {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .order_description_box {
            display: none;
        }

        .order_description_box_mobile {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            gap: 8px;

            .order_description_title_box_mobile {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                width: 100%;
                padding: 0;
                margin: 0;

                .order_description_title_mobile {
                    padding: 0;
                    margin: 0;

                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                    color: var(--black);
                }
            }

            .number_and_price_box_wrapper_mobile {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                gap: 8px;

                .number_and_price_box_mobile {
                    display: flex;
                    align-items: center;

                    width: fit-content;

                    .number_and_price_text_mobile {
                        font-family: Roboto, sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 14px;
                        text-align: center;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }
    }
}
