.product_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    padding-right: 320px;
    gap: 48px;


    .gallery {

    }

    .describe_product_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        max-width: 630px;
        gap: 40px;

        .add_to_cart {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;

            .product_name {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                margin-bottom: 32px;

                font-size: 32px;
                font-weight: 800;
                line-height: 38px;
                color: var(--black);
            }

            .product_info_box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 24px 0;
                gap: 15px;

                .availability {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;

                    width: fit-content;
                    gap: 12px;
                    color: var(--red);

                    font-size: 16px;
                    font-weight: 400;

                    .availability_img_box {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 18px;
                        height: 18px;

                        .iconamoon_img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }
                    }
                }

                .rating {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    gap: 15px;

                    .star_rating_box {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: fit-content;
                        gap: 5px;

                        .star_img {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .reviews_rating_box {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .reviews_rating_text {
                            color: var(--gray-text);
                            font-size: 16px;
                            font-weight: 400;

                            text-decoration: underline;
                            text-align: left;
                            text-decoration-style: solid;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            text-decoration-color: var(--gray-text);
                        }
                    }
                }

                .product_title_options_box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: fit-content;

                    font-weight: 500;
                    font-size: 16px;
                    color: var(--black);
                }

                .product_title_options_size {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    width: fit-content;
                    gap: 4px;

                    .product_title_size_chart {
                        font-size: 16px;
                        font-weight: 300;
                        text-align: center;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                        color: var(--black);
                    }
                }

                .color_options {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    width: fit-content;
                    gap: 15px;

                    .color_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        .color_item {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 1px solid #BEBEBE;

                            cursor: pointer;
                        }

                        .color_item_active {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 1px solid var(--red);
                            opacity: 100%;

                            cursor: pointer;
                        }

                        .color1 {
                            background-color: #255D1B;
                            opacity: 30%;
                        }

                        .color2 {
                            background-color: #000000;
                        }

                        .color3 {
                            background-color: #FFFFFF;
                        }

                        .color_name {
                            font-size: 12px;
                            font-weight: 400;
                            color: var(--dark);
                            opacity: 30%;
                        }

                        .color_name_active {
                            font-size: 12px;
                            font-weight: 600;
                            color: var(--red);
                            opacity: 100%;
                        }
                    }
                }

                .price_box {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    width: fit-content;
                    gap: 32px;

                    .price_value {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        width: 100%;
                        gap: 8px;

                        .price {
                            font-size: 16px;
                            font-weight: 300;
                            color: var(--black);
                        }

                        .old_price {
                            font-size: 16px;
                            font-weight: 300;
                            color: var(--black);
                            text-decoration: line-through;
                        }

                        .new_price {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--red);
                        }
                    }

                    .cashback {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        gap: 8px;

                        .cashback_text {
                            font-size: 16px;
                            font-weight: 400;
                            color: var(--gray-text);
                        }
                    }
                }
            }

            .bonus_info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 75px;
                padding: 18px;
                margin-bottom: 24px;
                gap: 30px;

                background-color: var(--light-gray);
                border-radius: 12px;

                .user_bonus_info_box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    gap: 12px;

                    .user_bonus_info_text_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .pay_with_bonus_box {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            gap: 5px;

                            .pay_with_bonus_text {
                                font-size: 16px;
                                font-weight: 300;
                                color: var(--dark-text);
                            }

                            .pay_with_bonus_text_small {
                                font-size: 14px;
                                font-weight: 300;
                                color: var(--black);
                            }

                            .pay_with_bonus_link {
                                font-size: 16px;
                                font-weight: 500;
                                color: var(--red);

                                text-align: left;
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;

                                cursor: pointer;
                            }

                            .bonus_red_text {
                                font-size: 14px;
                                font-weight: 700;
                                color: var(--red);
                            }
                        }
                    }
                }

                .bonus_add_box {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    gap: 5px;

                    .bonus_red {
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--red);
                    }
                }
            }

            .btn_wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                gap: 20px;
                margin-bottom: 12px;

                .add_to_cart_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    max-width: 455px;
                    height: 70px;

                    border-radius: 12px;
                    background-color: var(--red);
                    color: var(--white);

                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
            }

            .hurry_up_box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;

                width: 100%;
                padding: 24px;
                margin-top: 12px;

                border-radius: 12px;
                background-color: var(--gray);
            }

            .gray_line {
                width: 100%;
                height: 1px;
                background-color: var(--black);
                opacity: 10%;
            }

            .product_color_box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 24px 0;
                gap: 15px;
            }
        }
    }
}
